.dashboard__main {
  border-top: 4px solid $brand-blue-dark;
}

.dashboard__title,
.dashboard__section-title,
.dashboard-faq__title {
    text-transform: uppercase;
}

.dashboard-faq__title {
    color: $text-gray;
}

.dashboard-faq__heading {
    color: $brand-blue;
}

.dashboard__title {
    @extend .tabbed;
    background-color: $brand-blue-dark;
    color: white;

    &::after {
        background-color: $brand-blue-dark;
    }

    @include media-breakpoint-down(sm) {
        margin-left: -16px;
    }
}

.dashboard__section {
    @include media-breakpoint-down(sm) {
        margin-bottom: 0 !important;
    }
}

.dashboard__section-content {
    @include media-breakpoint-up(md) {
        padding-left: 1rem;
    }
}

.dashboard-user-info__text {
    font-weight: normal;
}

.dashboard-user-info__text--title {
    font-size: 2rem !important;
    font-weight: 700;
}

.dashboard-profile-information__organ-donor-status-box,
.dashboard-health-network__info-box {
    padding: 1em;
}

.dashboard-profile-information__organ-icon {
  width: 4rem;
  margin-right: 1rem;
}

.dashboard-health-network__network-name {
    color: $text-gray;
}

.dashboard-profile-information__organ-donor-status-box {
    border: 2px solid $brand-orange;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.dashboard-profile-information__organ-donor-status-info {
    @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: column;
    }
}

.dashboard-profile-information__status {
    color: $text-gray;
}

.dashboard-profile-information__organ-donor-link {
    font-weight: 700;
    text-decoration: underline;

    @include orange-link;
}

.dashboard-profile-information__organ-donor-edit-link {
    align-self: flex-start;
    justify-self: flex-end;
    margin-left: auto;

    :any-link {
        @include orange-link;
    }
}

.big-asterisk {
    font-size: 128px;
    height: 56px;
    line-height: 0.75;
    margin-right: 1rem;
}

/***
    Sidebar
*/
.dashboard-sidebar {
    padding: 0 1em 1em 1em;
    margin-left: -$grid-spacing;
    margin-right: -$grid-spacing;
    background-color: $brand-blue-fade-7;
    border-top: 4px solid $brand-blue-medium-fade-70;
    flex-grow: 1;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
        margin-top: 2em;
    }
}

.dashboard-sidebar__title {
    @extend .tabbed;
    margin-top: 0;
    background-color: $brand-blue-medium-fade-70;
    color: white;
    z-index: 1;
    margin-left: -1em;

    &::after {
        background-color: $brand-blue-medium-fade-70;
    }

    @include media-breakpoint-down(sm) {
        margin-left: (-$grid-spacing - 1);
    }
}
