.dashboard__title,
.dashboard__section-title,
.dashboard-faq__title {
    text-transform: uppercase;
}

.dashboard-profile-information__organ-donor-status-box,
.dashboard-health-network__info-box {
    padding: 1em;
}

/***
    Sidebar
*/
.dashboard-sidebar {
    margin-top: 1em;
    padding: 1em;
}

.dashboard-sidebar__title {
    margin-top: 0;
}
