.dashboard__main {
  border-top: 4px solid $brand-blue-dark;
}

.dashboard__title,
.dashboard__section-title,
.dashboard-faq__title {
    text-transform: uppercase;
}

.dashboard__title {
    @extend .tabbed;
    background-color: $brand-blue-dark;
    color: white;

    &::after {
        background-color: $brand-blue-dark;
    }
}

.dashboard__section-content {
    padding-left: 1rem;
}

.dashboard-profile-information__organ-donor-status-box,
.dashboard-health-network__info-box {
    padding: 1em;
}

.dashboard-profile-information__organ-donor-status-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.big-asterisk {
    font-size: 128px;
    height: 56px;
    line-height: 0.75;
    margin-right: 1rem;
}

/***
    Sidebar
*/
.dashboard-sidebar {
    padding: 1em;
    background-color: $brand-blue-fade-7;
    flex-grow: 1;
}

.dashboard-sidebar__title {
    margin-top: 0;
}

@include media-breakpoint-down(sm) {
    hr {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .dashboard-profile-information__organ-donor-status-info {
        display: flex;
        flex-direction: column;
    }

    .dashboard-sidebar {
        margin-top: 2em;
    }
}
