.faq-to-dashboard {
  @extend .tabbed;
  background-color: $brand-orange;
  color: white;
  padding-left: 1rem;

  &::after {
      background-color: $brand-orange;
  }
}

.faq-to-dashboard__link {
  color: white;
  text-transform: uppercase;
}

.faq-title {
  padding-top: 2rem;
}

.faq-heading {
}

.faq-heading__section-wrapper {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.faq-heading__section-wrapper--first {
  @include media-breakpoint-up(md) {
    padding-right: 0;
  }
}

.faq-heading__section-wrapper--last {
  @include media-breakpoint-up(md) {
    padding-left: 0;
  }
}

.faq-heading__section {
  @extend .nav-link;

  color: $brand-orange;
  font-weight: bold;
  border-bottom: solid $brand-blue;
  border-right: solid $brand-blue;

  @include media-breakpoint-down(sm) {
    border-right: none;
    border-left: solid $brand-blue;
  }
}

.faq-heading__section--first {
  border-left: solid $brand-blue;
}

.faq-heading__section--last {
  border-right: none;
}

.faq-heading__section--active {
  @extend .faq-heading__section;

  color: $brand-blue;
}

.faq-section {
}

.faq-section__title {
  padding: 1.5rem 0;
}

.faq-section__title__go-to-top {
  @extend .text-right;
}

.faq-section__title__go-to-top__link {
  color: $brand-orange;
  margin-top: 7px;
}

.faq-entry {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 0.5rem;
}

.faq-entry__header__button {
  @extend .text-left;

  overflow: hidden;
  padding: 0;
}

.faq-entry__header__content {
  color: $brand-orange;
  font-size: 1.2rem;
  font-weight: normal;
}

.faq-entry__header__collapser {
  @extend .text-right;
}

[data-toggle="collapse"] + .faq-entry__header__collapser::after {
  content: "-";

  color: $brand-orange;
  font-size: 20px;
  margin-right: 2rem;
  padding-left: 0.5rem;
}

[data-toggle="collapse"].collapsed + .faq-entry__header__collapser::after {
  content: "+";

  color: $brand-orange;
  font-size: 20px;
  margin-right: 2rem;
  padding-left: 0.5rem;
}

.faq-entry__body {
  padding: 0.5rem 1rem;
}

.contact-us {
  border: 1px solid $brand-blue;
  margin: 2rem 0;
  padding: 1rem;
}

.contact-us__title {
  @extend .text-center;

  color: $brand-blue;
  font-weight: normal;
  text-transform: uppercase;
}

.contact-us__subtitle {
  @extend .text-center;
}

.contact-us__link {
  color: $brand-orange;
}
