$banner-proportion: 60%;

.myhpom-header__navbar--main {
    position: absolute;
    z-index: $zindex-sticky;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
        border-bottom: 1px solid $navbar-dark-toggler-border-color;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #0b8dbe 100%);
    }
}

.myhpom-header__navbar-brand--home {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.myhpom-header__logo--home {
    @include media-breakpoint-up(md) {
        max-width: 25rem;
    }
}

.myhpom-header__home-logo-caption {
    @include serif;
    font-weight: 400;
    color: $brand-orange;
    align-self: flex-end;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.homepage__section {
    margin-left: -15px;
    margin-right: -15px;
}

.homepage__section--propfix {
    padding-bottom: $banner-proportion;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}

.container--propfix {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*
  Hero section
*/
.hero-section__title {
    @include serif;
    font-size: 3.5rem;
    color: white;
    font-weight: 400;
    text-align: center;

    @include media-breakpoint-down(sm) {
        line-height: 1.25;
        font-size: 2rem;
    }
}

.hero-section__subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    text-align: center;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.hero-section__start-now {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        height: 5em;
    }
}

.hero-section__start-now-button {
    line-height: 2.5em;
    width: 12em;
    text-transform: uppercase;
    border: 2px solid white;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }
}

/*
    Features
*/
.features-section {
    background-color: $brand-blue-dark;
}
.feature__image-container {
    text-align: center;
}
.feature__image {
    max-width: 75%;

    @include media-breakpoint-down(xs) {
        max-width: 50%;
    }
}
.feature__title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 150%;
}
.feature__text {
    @include serif;
    text-align: center;
    color: white;
}

/*
    Questions
*/
.questions-section {
    background-color: $brand-blue;
    color: white;
    text-align: center;

    @include media-breakpoint-down(xs) {
        display: none;
    }
}

// .questions-section__item:not(:last-child) {
//     @include media-breakpoint-down(xs) {
//         padding-bottom: 4rem;
//     }
// }

.question::before {
    content: "?";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    font-size: 125%;
    font-weight: 600;
    background-color: $brand-blue-medium;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2.5rem);
    border: 2px solid $brand-blue;
}

/*
    "Supported by"
*/
.supported-by-section {
    background-color: white;
    color: $brand-blue;
}
.supported-by-section__title {
    text-align: center;
    text-transform: uppercase;
    color: $brand-blue;
}
.supported-by-logos {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*
    How it works
*/
.how-it-works-section {
    background-color: $brand-blue;
    text-align: center;

    @include media-breakpoint-up(sm) {
        background: linear-gradient(
            0deg,
            white 0px,
            white 300px,
            #{$brand-blue} 300px,
            #{$brand-blue} 100%
        );
    }
}

.how-it-works-section__title {
    @include serif;
    font-size: 3rem;
    color: white;
    font-weight: 300;

    @include media-breakpoint-down(xs) {
        font-size: 2.5rem;
    }
}

.how-it-works-section__subtitle {
    color: $brand-blue-dark;
    font-weight: 600;
    max-width: map-get($grid-breakpoints, "sm");
}

.how-it-works-item {
    @include media-breakpoint-down(xs) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &::before {
            content: " ";
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: $brand-blue-dark;
            height: 2px;
            width: 66%;
            margin: 0 auto 1rem auto;
        }
    }
}

.how-it-works-item__title {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;

    @include media-breakpoint-down(xs) {
        font-size: 2rem;
    }
}

.how-it-works-item__img {
    max-width: 100%;

    @include media-breakpoint-down(xs) {
        max-width: 50%;
    }
}

.how-it-works-item__caption {
    @include serif;
    line-height: 1.25;
    color: white;
    font-weight: 600;

    @include media-breakpoint-up(sm) {
        color: $brand-blue-medium;
    }
}

.how-it-works__start-now-link {
    text-transform: uppercase;
}

/*
    "Sidekick" (secondary hero-like section)
*/

.sidekick-section {
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
