.form-group-tos {
    font-size: 80%;
    margin-bottom: 0;
}

.form-group-tos__content {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    // border: 1px solid var(--danger);
    padding: 1rem;
}

.form-group__label--invalid {
	color: #dc3545;
}

.form-group-tos__div--invalid {
	border: 1px solid #dc3545;
	border-radius: 0.25rem;
}

.form-group-tos__h5--invalid {
	color: #dc3545;
}
