.form-group-tos {
    font-size: 80%;
    margin-bottom: 0;
}

.form-group-tos__content {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    // border: 1px solid var(--danger);
    padding: 1rem;
}
