/*
    styles for /upload/requirements.html
*/

$invalid_color: #dc3545;

.upload-requirements__div {
	margin: 0 0 1rem 0;
}

.upload-requirements__ol {
    list-style-type: none;
    padding: 0;
}

.upload-requirements__li {
	padding: 0 0 0 1.25rem;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}

.upload-requirements__checkbox {
	clear: left;
	float: left;
	margin-left: -1.25rem;
}

.upload-requirements__label {
	margin: 0;
	padding: 0;
}

.upload-requirements__div-errors {
	color: $invalid_color;
}

.upload-requirement__select--invalid {
	border: 1px solid $invalid_color;
}

.upload-requirements__h4 {
	font-weight: bold;
	font-size: 1em;
}

.upload-requirements-link__ol {
    list-style-type: none;
    padding: 0;
}

.upload-requirements__a--right {
	float: right;
	display: block;
	font-weight: normal;
}