# Settings for environment. Notes:
#
#  - Since these are bash-like settings, there should be no space between the
#    variable name and the value (ie, "A=B", not "A = B")
#  - Boolean values should be all lowercase (ie, "A=false", not "A=False")

LOCAL_SETTINGS=dev_settings
# Override the hsctl settings:
# CONFIG_FILE=config/hydroshare-config.yaml

# Other common overrides:
# UID=1000
# GID=1000
# HOME_DIR=/hydro/hydroshare
