*.pyc
*.pyo
*.db
*.sedbak
*.sedbak.*
.bash_history
.cache
.coverage
.DS_Store
.idea
.env
.env.template
/celery
/config/hydroshare-config.sh
/config/hydroshare-config.yaml
/hydroshare/local_settings.py
/hydroshare/dev_settings.py
/hydroshare/static
/log
/nginx/config-files/hs-nginx.conf
/nginx/.htpasswd
/nginx/htpasswd
/static
celeryd.pid
docker-compose.yml
init-defaultworker
init-dockerworker
init-hydroshare
run-server
schema.xml
*.sublime-*
.pycharm_helpers
celerybeat.pid
.config
*~
#*#
deploy/.vault-key
deploy/*.retry
myhpom/static/myhpom/myhpom.css
