{% extends "myhpom/base.html" %}
{% load staticfiles %}

{% block main_container_class %}myhpom-page__container{% endblock main_container_class %}

{% block main_content %}
    <section class="content-page__hero-banner" style="background-image: url({% static 'myhpom/img/why-plan/father-at-home-with-tablet-video-chatting_web.jpg' %})"></section>
    <section class="why-plan-overview">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="why-plan-overview__title">
                        Why Plan?
                    </h1>

                    <h2 class="why-plan-overview__subtitle">
                        A quick guide to how an advance care plan
                        keeps your care in check.
                    </h2>

                    <div class="mt-3 mb-4 why-plan-overview__text">
                        An <em>advance directive</em> is a legal document which
                        allows you to record your healthcare wishes in case you can
                        no longer speak for yourself. These documents can also be
                        combined with Power of Attorney documents and are used by
                        medical professionals as well as family and caregivers to
                        ensure your decisions are heard and respected.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#ownership">Ownership</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            It empowers you to make your own healthcare decisions.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#communication">Communication</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            It allows you a clear, concise way to share your choices.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#responsibility">Responsibility</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            Reduces difficulty on yourself and those you care about.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#peace-of-mind">Peace of mind</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            Brings confidence that your wishes will be heard.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg" id="ownership">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset1.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Empowers You to Own Your Health
                    </h2>

                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Make Your Own Healthcare Decisions
                    </h3>

                    <div class="mt-3 why-plan-bigimg__text">
                        People are owning their healthcare more than ever
                        before. Whether through health-related internet
                        searches or health tracking apps, more and more
                        people are taking steps to play an active role in
                        making their health decisions. Setting up an advance
                        care plan is another tool for taking ownership of
                        your healthcare. It lets you document your decisions
                        for what kind of care you want if you could not
                        speak for yourself. A recent national survey found
                        that 90% of Americans think discussing your
                        healthcare preferences if you can’t speak for
                        yourself is important, but <em>fewer than 30% have
                        taken steps to do so</em>. By going ahead and making
                        your plan, you make sure your healthcare will
                        align with your values and decisions no matter
                        what life throws your way.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">After my daughter was born, my husband and I sat down to make sure we have plans in every aspect of our life in case something ever happens to one of us. Our advance care plans help us make sure our health care wishes are easily accessible in case of emergency so that we will have one less thing to worry about.</div>
                        <footer class="why-plan-quote__source">
                            Sarah Wong of Charleston, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg" id="communication">
        <div class="container">
            <div class="row row--reverse">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset2.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Communicates Your Decisions
                    </h2>

                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Create a Game Plan for Your Healthcare Team
                    </h3>

                    <div class="mt-3">
                        Communication between patients and doctors is
                        crucial for ensuring proper care. You know your
                        wishes for your healthcare better than anyone else.
                        But what if you cannot discuss your wishes with
                        your healthcare team? When you create an advance
                        care plan you provide a direction that can help
                        guide your treatment and prevent your healthcare
                        team from having to guess what care you want.
                        That way your voice can always stay central
                        to your care.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">My Dad is very particular about his care. Having an Advance Care Plan helps us make sure the rest of our family and his doctors will know his preferences and be able to honor them. His planning also made me think about my own wishes, so I made one too.</div>
                        <footer class="why-plan-quote__source">
                            Mohammed Kuriq of Winston-Salem, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg" id="responsibility">
        <div class="container">
            <div class="row row">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset3.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It's a Responsibility to Those You Love
                    </h2>

                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Plan for Yourself and Your Loved Ones
                    </h3>

                    <div class="mt-3">
                        Discussing your healthcare wishes with your loved ones
                        can be challenging. But sharing your healthcare
                        decisions with close family and friends is one of the
                        best ways to guarantee your wishes will be known and
                        honored. Making an advance care plan does not only
                        benefit you. It can also help those closest to you
                        feel empowered to act as an advocate on your behalf
                        no matter what. Giving them the knowledge of your
                        choices can reduce their stress so that they can work
                        with healthcare providers more confidently to manage
                        your care in a way that aligns with your values.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">My health is not as good as it used to be, so I have thought a lot more about what kind of care I am comfortable with. I value my advance care plan because it allows me to not worry about whether I will get the treatment I want. Thanks to my advance care plan, I am sure my family and docttor know what I really I want.</div>
                        <footer class="why-plan-quote__source">
                            Cheryl Wilson of Asheboro, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg" id="peace-of-mind">
        <div class="container">
            <div class="row row--reverse">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset4.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Gives You Peace of Mind
                    </h2>

                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Be Confident Your Wishes are Known and Accessible
                    </h3>

                    <div class="mt-3">
                        Making an Advance Care Plan empowers you to be
                        confident that you do not have to worry about
                        your care if you cannot speak for yourself. By
                        taking the time to discuss, document, and share
                        your plan you can reduce your own stress. Nothing
                        is more personal than your health. By taking time
                        to create an advance care plan, you can rest
                        assured that you will remain the guiding
                        force in your care.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-start-now">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h5">
                        Plan your care in advance today by signing up for Mind My Health.
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="mt-4 why-plan-start-now__button">
                        <a href="{% url 'myhpom:signup' %}" class="btn btn-secondary btn--big why-plan-start-now__button">Start Now</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
