{% extends "myhpom/base.html" %}
{% load scribbler_tags %}
{% load staticfiles %}

{% block main_container_class %}myhpom-page__container{% endblock main_container_class %}

{% block main_content %}
    <section class="content-page__hero-banner"></section>
    <section class="why-plan-overview">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="why-plan-overview__title">
                        Why Plan?
                    </h1>
                    <h2 class="why-plan-overview__subtitle">
                        A quick guide to how an advance care plan
                        keeps your care in check.
                    </h2>
                    <div class="mt-3 mb-4 why-plan-overview__text">
                        {% scribble 'why-plan' 'overview' %}
                        An <em>advance directive</em> is a legal document which
                        allows you to record your healthcare wishes in case you can
                        no longer speak for yourself. These documents can also be
                        combined with Power of Attorney documents and are used by
                        medical professionals as well as family and caregivers to
                        ensure your decisions are heard and respected.
                        {% endscribble %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#">Ownership</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            It empowers you to make your own healthcare decisions.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#">Communication</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            It allows you a clear, concise way to share your choices.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#">Responsibility</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            Reduces difficulty on yourself and those you care about.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="why-plan-overview__link-container">
                        <div class="why-plan-overview__link">
                            <a href="#">Peace of mind</a>
                        </div>
                        <div class="why-plan-overview__link-text">
                            Brings confidence that your wishes will be heard.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset1.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Empowers You to Own Your Health
                    </h2>
                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Make Your Own Healthcare Decisions
                    </h3>
                    <div>
                        {% scribble 'why-plan' 'empowerment' %}
                        {% lorem 80 w %}
                        {% endscribble %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">{% scribble 'why-plan' 'sarah-wong-quote' %}{% lorem 36 w %}{% endscribble %}</div>
                        <footer class="why-plan-quote__source">
                            Sarah Wong of Charleston, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg">
        <div class="container">
            <div class="row row--reverse">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset2.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Communicates Your Decisions
                    </h2>
                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Create a Game Plan for Your Healthcare Team
                    </h3>
                    <div>
                        {% scribble 'why-plan' 'communication' %}
                        {% lorem 80 w %}
                        {% endscribble %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">{% scribble 'why-plan' 'mohammed-kuriq-quote' %}{% lorem 36 w %}{% endscribble %}</div>
                        <footer class="why-plan-quote__source">
                            Mohammed Kuriq of Winston-Salem, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg">
        <div class="container">
            <div class="row row">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset3.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It's a Responsibility to Those You Love
                    </h2>
                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Plan for Yourself and Your Loved Ones
                    </h3>
                    <div>
                        {% scribble 'why-plan' 'responsibility' %}
                        {% lorem 80 w %}
                        {% endscribble %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-9 col--centered">
                    <blockquote class="mb-0 why-plan-quote__blockquote">
                        <div class="mb-2 why-plan-quote__text">{% scribble 'why-plan' 'cheryl-wilson-quote' %}{% lorem 36 w %}{% endscribble %}</div>
                        <footer class="why-plan-quote__source">
                            Cheryl Wilson of Asheboro, NC
                        </footer>
                    </blockquote>
                </div>
                <div class="col-sm-6 col-lg-2 col--centered">
                    <div class="why-plan-quote__img-container">
                        <img class="why-plan-quote__img" src="{% static 'myhpom/img/why-plan/mmh-whyplan-inset1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-bigimg">
        <div class="container">
            <div class="row row--reverse">
                <div class="col-md-6">
                    <img src="{% static 'myhpom/img/why-plan/mmh-whyplan-markinset4.png' %}" alt="" class="why-plan-bigimg__img">
                </div>
                <div class="col-md-6">
                    <h2 class="why-plan-bigimg__title">
                        It Gives You Peace of Mind
                    </h2>
                    <h3 class="h4 why-plan-bigimg__subtitle">
                        Be Confident Your Wishes are Known and Accessible
                    </h3>
                    <div>
                        {% scribble 'why-plan' 'peace-of-mind' %}
                        {% lorem 80 w %}
                        {% endscribble %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why-plan-start-now">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h5">
                        Plan your care in advance today by signing up for Mind My Health.
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="mt-4 why-plan-start-now__button">
                        <a href="{% url 'myhpom:signup' %}" class="btn btn-secondary btn--big why-plan-start-now__button">Start Now</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
