$brand-blue: #0b8dbe;
$brand-orange: #f58220;

$brand-blue-medium: #0b6099;
$brand-orange-dark: #d14c00;
$brand-blue-dark: #003e74;

$brand-blue-fade-7: #eff7fa;
$brand-blue-medium-fade-70: #638db8;
$brand-blue-medium-fade-40: #bed3e5;
$brand-orange-fade-10: #fcf4e9;

$text-gray: #424242;
$text-gray-medium: rgba(66, 66, 66, 0.7);
$light-gray: #eef2f1;
