/*
    Glenn Sans family
*/
@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Black.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Black.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Black.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Black.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-BlackItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-BlackItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-BlackItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-BlackItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-ExtraBold.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-ExtraBold.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-ExtraBold.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-ExtraBold.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-ExtraBoldItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-ExtraBoldItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-ExtraBoldItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-ExtraBoldItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: bold; // == 700
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Bold.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Bold.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Bold.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: bold; // == 700
    src: url('./fonts/glenn-sans/eot/BwGlennSans-BoldItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-BoldItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-BoldItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-BoldItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Medium.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Medium.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Medium.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-MediumItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-MediumItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-MediumItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-MediumItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: normal; // == 400
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Regular.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Regular.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Regular.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: normal; // == 400
    src: url('./fonts/glenn-sans/eot/BwGlennSans-RegularItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-RegularItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-RegularItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-RegularItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Light.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Light.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Light.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Light.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-LightItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-LightItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-LightItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-LightItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Thin.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Thin.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Thin.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Thin.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-ThinItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-ThinItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-ThinItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-ThinItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-Hairline.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-Hairline.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-Hairline.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-Hairline.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Sans';
    font-style: italic;
    font-weight: 100;
    src: url('./fonts/glenn-sans/eot/BwGlennSans-HairlineItalic.eot') format('eot'),
        url('./fonts/glenn-sans/otf/BwGlennSans-HairlineItalic.otf') format('otf'),
        url('./fonts/glenn-sans/woff2/BwGlennSans-HairlineItalic.woff2') format('woff2'),
        url('./fonts/glenn-sans/woff/BwGlennSans-HairlineItalic.woff') format('woff'),
}

/*
    Glenn Slab family
*/
@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Black.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Black.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Black.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Black.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-BlackItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-BlackItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-BlackItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-BlackItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-ExtraBold.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-ExtraBold.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-ExtraBold.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-ExtraBold.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-ExtraBoldItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-ExtraBoldItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-ExtraBoldItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-ExtraBoldItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: bold; // == 700
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Bold.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Bold.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Bold.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: bold; // == 700
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-BoldItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-BoldItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-BoldItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-BoldItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Medium.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Medium.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Medium.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Medium.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-MediumItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-MediumItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-MediumItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-MediumItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: normal; // == 400
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Regular.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Regular.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Regular.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: normal; // == 400
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-RegularItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-RegularItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-RegularItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-RegularItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Light.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Light.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Light.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Light.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-LightItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-LightItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-LightItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-LightItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Thin.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Thin.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Thin.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Thin.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-ThinItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-ThinItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-ThinItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-ThinItalic.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-Hairline.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-Hairline.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-Hairline.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-Hairline.woff') format('woff'),
}

@font-face {
    font-family: 'Glenn Slab';
    font-style: italic;
    font-weight: 100;
    src: url('./fonts/glenn-slab/eot/BwGlennSlab-HairlineItalic.eot') format('eot'),
        url('./fonts/glenn-slab/otf/BwGlennSlab-HairlineItalic.otf') format('otf'),
        url('./fonts/glenn-slab/woff2/BwGlennSlab-HairlineItalic.woff2') format('woff2'),
        url('./fonts/glenn-slab/woff/BwGlennSlab-HairlineItalic.woff') format('woff'),
}

@mixin orange-link {
    color: $brand-orange;

    &:hover {
        color: darken($brand-orange, 15%);
    }
}
