@import "myhpom/static/myhpom/colors";
@import "myhpom/static/myhpom/typography";

@import "myhpom/static/myhpom/bootstrap_theme";
@import "hydroshare/static/myhpom/bootstrap/scss/bootstrap.scss";
@import "myhpom/static/myhpom/bootstrap_overrides";
@import "myhpom/static/myhpom/scribbler";

@import "myhpom/static/myhpom/page_layout";
@import "myhpom/static/myhpom/include/footer";
@import "myhpom/static/myhpom/include/forms";
@import "myhpom/static/myhpom/include/header";
@import "myhpom/static/myhpom/include/pseudo-modal";
@import "myhpom/static/myhpom/include/tab";
@import "myhpom/static/myhpom/include/upload_widget";

@import "myhpom/static/myhpom/page/dashboard";
@import "myhpom/static/myhpom/page/home";
@import "myhpom/static/myhpom/page/login";
@import "myhpom/static/myhpom/page/signup";
@import "myhpom/static/myhpom/page/next_steps";
@import "myhpom/static/myhpom/page/upload_requirements";
@import "myhpom/static/myhpom/page/profile";
@import "myhpom/static/myhpom/page/faq";

@import "myhpom/static/myhpom/page/content/index";
// @import "myhpom/static/myhpom/page/content/how-it-works";
@import "myhpom/static/myhpom/page/content/why-plan";
