{% extends 'myhpom/base.html' %}

{% load staticfiles %}

{% block title %}Password Email Sent{% endblock %}

{% block main_content %}
<div class="modal show pseudo-modal">
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="pseudo-modal__pre-header">
                <img class="pseudo-modal__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-beta-color-rev@3x.png' %}" alt="">
            </div>

            <div class="modal-body pseudo-modal__body d-flex align-items-center">
                <div class="row w-100">
                <div class="col text-center">
                    <p>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <p>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock %}
