{% extends 'myhpom/with_modal.html' %}

{% load staticfiles %}

{% block title %}Reset Password{% endblock %}

{% block main_content %}
<div
    class="modal show pseudo-modal"
    data-close-href="{% url 'myhpom:home' %}"
>
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="pseudo-modal__pre-header">
                <img class="ml-auto pseudo-modal__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-beta-color-rev@3x.png' %}" alt="">
                <div
                    class="ml-auto oi oi-x pseudo-modal__close-button"
                    role="button"
                    tabindex="0"
                    data-close-href="{% url 'myhpom:home' %}"
                ></div>
            </div>

            <div class="pb-0 modal-header modal-header--main pseudo-modal__header">
                <h1 class="mx-auto modal-title pseudo-modal__title pseudo-modal__title--centered">
                    Reset Password
                </h1>
            </div>

            <div class="modal-body pseudo-modal__body">
                <div class="row">
                <div class="col-md-7 mx-auto">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col login__generic-error">
                                {{ form.non_field_errors }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="pseudo-modal__label
                                    {% if form.errors.email %} form-group__label--invalid{% endif %}"
                                    for="id_first_name">Your Email</label>
                                <input type="email" class="form-control pseudo-modal__input
                                    {% if form.errors.email %} is-invalid{% endif %}"
                                    name="email" id="id_email"
                                    value="{% if form.data.email %}{{form.data.email}}{% endif %}" />
                                <div class="invalid-feedback">
                                    {% if form.errors.email %}{{ form.errors.email }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto mx-auto">
                                <button type="submit" class="btn login__submit">
                                    Send email
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock main_content %}
