{% extends 'myhpom/base.html' %}

{% load staticfiles %}

{% block title %}Change password{% endblock %}

{% block main_content %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
<div class="modal show pseudo-modal">
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="pseudo-modal__pre-header">
                <img class="pseudo-modal__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-color-rev@3x.png' %}" alt="">
            </div>

            <div class="pb-0 modal-header modal-header--main pseudo-modal__header">
                <h1 class="mx-auto modal-title pseudo-modal__title pseudo-modal__title--centered">
                    Change password
                </h1>
            </div>

            <div class="modal-body pseudo-modal__body">
                <div class="row">
                <div class="col-md-7 mx-auto">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col login__generic-error">
                                {{ form.non_field_errors }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="pseudo-modal__label
                                    {% if form.errors.new_password1 %} form-group__label--invalid{% endif %}"
                                    for="id_first_name">New password:</label>
                                <input type="password" class="form-control pseudo-modal__input
                                    {% if form.errors.new_password1 %} is-invalid{% endif %}"
                                    name="new_password1" id="id_new_password1"
                                    value="{% if form.data.new_password1 %}{{form.data.new_password1}}{% endif %}" />
                                <div class="invalid-feedback">
                                    {% if form.errors.new_password1 %}{{ form.errors.new_password1 }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="pseudo-modal__label
                                    {% if form.errors.new_password2 %} form-group__label--invalid{% endif %}"
                                    for="id_first_name">New password confirmation:</label>
                                <input type="password" class="form-control pseudo-modal__input
                                    {% if form.errors.new_password2 %} is-invalid{% endif %}"
                                    name="new_password2" id="id_new_password2"
                                    value="{% if form.data.new_password2 %}{{form.data.new_password2}}{% endif %}" />
                                <div class="invalid-feedback">
                                    {% if form.errors.new_password2 %}{{ form.errors.new_password2 }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto mx-auto">
                                <button type="submit" class="btn login__submit">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock %}
