{% extends 'myhpom/with_modal.html' %}

{% load staticfiles %}

{% block title %}Change password{% endblock %}

{% block main_content %}
<div
    class="modal show pseudo-modal"
    data-close-href="{% url 'myhpom:home' %}"
>
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="pseudo-modal__pre-header">
                <div class="pseudo-modal__logo-container">
                    <img class="pseudo-modal__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-beta-color-rev@3x.png' %}" alt="">
                </div>
                <div
                    class="oi oi-x pseudo-modal__close-button"
                    role="button"
                    tabindex="0"
                    data-close-href="{% url 'myhpom:home' %}"
                ></div>
            </div>

            <div class="pb-0 modal-header modal-header--main pseudo-modal__header">
                <h1 class="mx-auto modal-title pseudo-modal__title pseudo-modal__title--centered">
                    Change password
                </h1>
            </div>

            <div class="modal-body pseudo-modal__body">
                <div class="row">
                <div class="col-md-7 mx-auto">
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col login__generic-error">
                                {{ form.non_field_errors }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="pseudo-modal__label
                                    {% if form.errors.new_password1 %} form-group__label--invalid{% endif %}"
                                    for="id_first_name">New password:</label>
                                <input type="password" class="form-control pseudo-modal__input
                                    {% if form.errors.new_password1 %} is-invalid{% endif %}"
                                    name="new_password1" id="id_new_password1"
                                    value="{% if form.data.new_password1 %}{{form.data.new_password1}}{% endif %}" />
                                <div class="invalid-feedback">
                                    {% if form.errors.new_password1 %}{{ form.errors.new_password1 }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="pseudo-modal__label
                                    {% if form.errors.new_password2 %} form-group__label--invalid{% endif %}"
                                    for="id_first_name">New password confirmation:</label>
                                <input type="password" class="form-control pseudo-modal__input
                                    {% if form.errors.new_password2 %} is-invalid{% endif %}"
                                    name="new_password2" id="id_new_password2"
                                    value="{% if form.data.new_password2 %}{{form.data.new_password2}}{% endif %}" />
                                <div class="invalid-feedback">
                                    {% if form.errors.new_password2 %}{{ form.errors.new_password2 }}{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto mx-auto">
                                <button type="submit" class="btn login__submit">
                                    Change password
                                </button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock %}
