<div class="advance-directive-block">
    <h4 class="advance-directive-block__title">
        Title of advance directive block
    </h4>
    <p class="next-steps__text">
        <span class="next-steps__strong">Here's some lighlighted text.</span>
        and it will be followed <a href="#" class="advance-directive-block__template-link">by a link</a>.
        Most likely there will be some more text around those parts,
        and this is what it looks like.
    </p>
    <div class="advance-directive-block-footer">
        <div class="advance-directive-block-footer__info-link">
            Learn more in our FAQs
        </div>
        <div class="advance-directive-block-footer__caption">
            Link will open in new window
        </div>
    </div>
</div>
