.footer-headline-enclosure {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-title-bar {
    display: flex;
    flex-wrap: nowrap;
}

.footer-links-list {
    list-style: none;
}

.footer-links-list--legal {
    padding-left: 0;
}

.footer-links-list__link--legal {
    @extend .text-muted;
}

.footer-links-list--account-links {
    text-transform: uppercase;
    margin-left: auto;
}

.footer-links-list__item {
    display: inline-block;
    margin-right: 1em;
}


@include media-breakpoint-down(sm) {
    .footer-title-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links-list {
        padding-left: 0;
        font-size: 80%;
    }

    .footer-links-list--account-links {
        margin-left: 0;
    }
}
