.custom-select {
    -webkit-appearance: none;
}

.nobutton-radio {
    display: flex;
    margin-top: 1rem;
    padding-left: 0;
}

.nobutton-radio__label {
    @extend .btn;
    text-transform: none;

    background-color: $brand-orange-fade-10;
    border: 1px solid $brand-orange;
    color: $brand-orange;
    font-weight: 700;
    border-radius: 0.25rem;

    flex-grow: 1;

    &::before {
        content: none;
    }
}

.custom-radio .custom-control-input:checked ~ .custom-control-label.nobutton-radio__label {
    background-color: $brand-orange;
    color: white;
}
