html [type="button"].close--link {
    -webkit-appearance: none;
}

.modal-header {
    border-bottom: none;
}

.modal-header--main {
    padding-bottom: 0;
}

.modal-header--subtitle {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pseudo-modal {
    display: block;
    overflow-y: scroll;
}

.pseudo-modal__dialog {
    margin-top: 4rem;

    @media (min-width: 576px) {
        max-width: 90vw;
    }
}

.pseudo-modal__pre-header {
    background-color: transparent !important;
    padding: 1rem;
    text-align: center;
}

.pseudo-modal__logo {
    max-width: 20rem;
}

.modal-body--signup {
    padding: 1rem 2rem 2rem 2rem;
}

.pseudo-modal__content {
    padding: 4px;
    border-radius: 2rem;
    background-color: $brand-blue;

    > * {
        background-color: white;

        &:last-child {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }
}

.pseudo-modal__header {
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pseudo-modal__title {
    color: $brand-blue;
}

.pseudo-modal__title--centered {
    flex-grow: 1;
}

.pseudo-modal__title--serif {
    @include serif;
    font-weight: 600;
}

.pseudo-modal__login-link {
    @include orange-link;
}

.signup-form__label {
    font-weight: 600;
}

.signup-form__input {
    background-color: $light-gray;
    border-color: darken($light-gray, 50%);
}

.form-group-tos__h6 {
    text-transform: uppercase;
    color: black;
}

.form-group-tos__text {
    @include serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-group-tos__link {
    @include orange-link;
    text-transform: uppercase;
}

.signup-form__submit-button {
    @extend .btn-secondary;
    padding: 1em 2em;
    font-size: 125%;
    width: 100%;

    &:disabled, &.disabled {
        color: rgba(255, 255, 255, 0.9);
    }
}
