.advance-directive-widget {
    background-color: white;
    border: 1px solid black;
}

.advance-directive-widget__breadcrumbs {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.advance-directive-widget__breadcrumb-item {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;

    &:not(:first-child)::before {
        font-family: 'Icons';
        font-size: 80%;
        line-height: 75%;
        content:'\e036';
        display: inline-block;
        margin: 0 0.35rem;
    }
}

.advance-directive-widget__breadcrumb-item--active {
    @extend .advance-directive-widget__breadcrumb-item;

    font-weight: bold;
}

.advance-directive-widget__breadcrumb-status {
    display: inline-flex;
    flex-wrap: nowrap;

    text-transform: uppercase;
}

.advance-directive-widget__breadcrumb-status-value {
    display: inline-flex;
    flex-wrap: nowrap;

    padding-left: 0.35rem;
    font-weight: bold;
}

.advance-directive-widget__body {
    padding: 2rem;
}

.advance-directive-widget__button--primary {
    @extend .h6;

    border: 1px solid black;
    color: darkgray;
    display: inline-block;
    margin: 0.5rem 0;
    padding: 2rem;
    text-align: center;
    width: 100%;

    &:any-link {
        color: darkgray;
        cursor: pointer;
        text-decoration: none !important;
    }
}

.advance-directive-widget__button--secondary {
    @extend .advance-directive-widget__button--primary;
}

.advance-directive-widget__definition {
    display: flex;
    flex-wrap: nowrap;
}

.advance-directive-widget__definition__key {
    @extend .advance-directive-widget__breadcrumb-status;

    font-weight: normal;
}

.advance-directive-widget__definition__value {
    @extend .advance-directive-widget__breadcrumb-status-value;
}
