.how-it-works-steps {
    counter-reset: steps;
}

.how-it-works-steps__step {
    @extend .py-4;
    border-bottom: 1px solid $text-gray-medium;
}

.how-it-works-steps__huge-number {
    font-size: 10rem;
    color: $brand-blue-medium;
    font-weight: 700;
    text-align: center;

    &::before {
        counter-increment: steps;
        content: counter(steps);
        display: block;
        line-height: 8rem;
        height: 8rem;
    }
}

.how-it-works-steps__title {
    @extend .h5;
    @extend .mb-3;
}

.how-it-works-steps__subtitle {
    @extend .h6;
}

.how-it-works-steps__link {
    @include orange-link;
}

.how-it-works-steps__list {
    @extend .pl-3;
    list-style: disc;
}

.how-it-works-steps__list-item {
    @extend .mb-3;

    em {
        font-style: normal;
        font-weight: bold;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }
}

.how-it-works-conclusion__item {
    @extend .mb-4;
    @extend .h4;
    text-align: center;
}

.how-it-works-conclusion__link {
    @include orange-link;
}
