{% extends "myhpom/base.html" %}

{% block main_content %}
<div class="py-4">
    <div>
        <h1>
            About Mind My Health
        </h1>
        <h4>
            Mind My Health is an online platform allowing users to “own their health” and easily connect and communicate advance care plans to friends, family and health providers.
        </h4>
        <p>
            This project began in 2015 as an idea from leaders at <a href="http://cchospice.org" target="_blank" alt="The Carolinas Center for Hospice and End of Life Care">The Carolinas Center for Hospice and End of Life Care</a>, a
            not-for-profit association across the Carolinas. We know first-hand about the benefits Advance Care Planning (ACP) and how they bring peace and comfort to individuals and families.
        </p>
        <p>
            We also recognize that many people don’t engage these benefits. ACP completion rates are low (~30%), and many families struggle to locate an ACP in moments of crisis.
        </p>
        <p>
            Too often, advance care documents are out of sight—in a drawer, a cabinet, or a glove compartment—so family members and health providers cannot find them when needed.
        </p>
        <p>
            To address these challenges, we worked to build a tool that would facilitate advance care planning and make documents available whenever and wherever needed. The Duke Endowment made this possible through generous grant funding to
            create the online platform, now called <strong>Mind My Health.</strong>
        </p>
        <p>
            <strong>Mind My Health</strong> allows users to securely upload an advance care planning document and share it with loved ones and chosen decision makers. Then, they will be able to send their legal documents directly to their
            healthcare team (once a part of our system) through a linkage with their Electronic Health Record (EHR).
        </p>
        <p>
            <strong>Mind My Health</strong> is free for users, and we will never sell your data. We are a not-for-profit program of The Carolinas Center.
        </p>
        <p>
            <b>Learn more about <a href="../how-it-works" target="_blank" alt="Learn how Mind My Health works">how <strong>Mind My Health</strong> works</a></b>.
        </p>
        <p>
            Mind My Health is free for users and will never sell your data. We are a nonprofit program of The Carolinas Center.
        </p>
    </div>
</div>
{% endblock main_content %}
