{% load sass_tags static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="text/javascript" src="{% static "myhpom/jquery/dist/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "myhpom/popper.js/dist/umd/popper.min.js" %}"></script>
        <script type="text/javascript" src="{% static "myhpom/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <link href="{% sass_src 'myhpom/myhpom.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'myhpom/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet" />

        <title>{% block title %}My Health Peace Of Mind{% endblock title %}</title>
    </head>
    <body class="myhpom-page--flush-footer">
        {% include 'myhpom/includes/header.html' %}

        <main class="main myhpom-page__main--flush-footer">
            <div class="container">
                {% block main_content %}{% endblock main_content %}
            </div>
        </main>

        {% include 'myhpom/includes/footer.html' %}

        {% block extra-js %}
        {% endblock extra-js %}
    </body>
</html>
