{% load sass_tags static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="text/javascript" src="{% static 'myhpom/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'myhpom/popper.js/dist/umd/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'myhpom/bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'myhpom/img/favicon/apple-touch-icon-57x57.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'myhpom/img/favicon/apple-touch-icon-114x114.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'myhpom/img/favicon/apple-touch-icon-72x72.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'myhpom/img/favicon/apple-touch-icon-144x144.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'myhpom/img/favicon/apple-touch-icon-60x60.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'myhpom/img/favicon/apple-touch-icon-120x120.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'myhpom/img/favicon/apple-touch-icon-76x76.png' %}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'myhpom/img/favicon/apple-touch-icon-152x152.png' %}" />
        <link rel="icon" type="image/png" href="{% static 'myhpom/img/favicon/favicon-196x196.png' %}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{% static 'myhpom/img/favicon/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{% static 'myhpom/img/favicon/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'myhpom/img/favicon/favicon-16x16.png' %}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{% static 'myhpom/img/favicon/favicon-128.png' %}" sizes="128x128" />

        <link href="{% sass_src 'myhpom/myhpom.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'myhpom/open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet" />

        <title>{% block title %}My Health Peace Of Mind{% endblock title %}</title>
        {% block extra-head %}{% endblock %}
    </head>
    <body class="myhpom-page--flush-footer"{% block body_on_load %}{% endblock %}>
        {% include 'myhpom/includes/header.html' %}

        <main class="main myhpom-page__main--flush-footer{% block main_class %}{% endblock main_class %}">
            <div class="container{% block main_container_class %}{% endblock main_container_class %}">
                {% block main_content %}{% endblock main_content %}
            </div>
        </main>

        {% include 'myhpom/includes/footer.html' %}

        {% block extra-js %}
        {% endblock extra-js %}
    </body>
</html>
