{% extends "myhpom/base.html" %}

{% block main_content %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="h6 dashboard__title">
            My dashboard
        </h1>

        <section class="dashboard-user-info">
            <div class="h1 dashboard-user-info__text">
                {{ request.user.get_full_name }}
            </div>
            <div class="h6 dashboard-user-info__text">
                {{ request.user.email }}
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-8 dashboard-main">
        <hr/>

        <section class="dashboard__section dashboard-profile-information">
            <div class="float-right">
                <a href="/" class="small">Edit My Profile</a>
            </div>

            <h2 class="h6 dashboard__section-title">
                Profile information
            </h2>

            <p class="small">
                State resident: <strong>{{ request.user.user_details.state|default:'(Unknown state)' }}</strong>
            </p>

            <div class="bg-light dashboard-profile-information__organ-donor-status-box">
                <div>
                    <span class="h5">I am not an organ donor.</span>
                    <a class="small" href="/">Edit status</a>
                </div>
                <div>
                    <a href="/" class="small">
                        Learn how you can be a donor.
                    </a>
                </div>
            </div>
        </section>

        <hr/>

        <section class="dashboard__section dashboard-health-network">
            <div class="float-right">
                <a href="/" class="small">Update My Health Network</a>
            </div>

            <h2 class="h6 dashboard__section-title">
                Health network
            </h2>

            <div class="bg-light dashboard-health-network__info-box">
                <div class="h3">{{ request.user.user_details.health_network.name|default:'(Unknown Network)' }}</div>
                <div class="small">
                    Last Updated: January 1, 1970
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="bg-light dashboard-sidebar">
            <h2 class="h6 dashboard__section-title dashboard-sidebar__title">
                My advance directive
            </h2>

            <p class="small">
                {% lorem 6 w %}
            </p>
        </section>
    </div>
</div>

<hr/>

<sidebar class="row dashboard-faq">
    <div class="col-sm-12">
        <h2 class="h6 dashboard-faq__title">
            Common questions
        </h2>
    </div>
    <div class="col-md-4 small">
        <strong>{% lorem 5 w %}?</strong>
        <p>
            {% lorem 24 w %}
        </p>
    </div>
    <div class="col-md-4 small">
        <strong>{% lorem 5 w %}?</strong>
        <p>
            {% lorem 24 w %}
        </p>
    </div>
    <div class="col-md-4 small">
        <strong>{% lorem 5 w %}?</strong>
        <p>
            {% lorem 24 w %}
        </p>
    </div>
</sidebar>
{% endblock main_content %}
