{% extends "myhpom/base.html" %}
{% load sass_tags static %}

{% block extra-head %}
<script type="text/javascript" src="{% static "myhpom/moment/min/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "myhpom/combodate/src/combodate.js" %}"></script>
{% endblock %}

{% block main_class %} dashboard__main{% endblock main_class %}

{% block main_content %}
<div class="row">
    <div class="col-md-6 col-lg-8 dashboard-main">
        <h1 class="h6 dashboard__title">
            My dashboard
        </h1>

        <section class="dashboard-user-info">
            <div class="h1 dashboard-user-info__text dashboard-user-info__text--title">
                {{ request.user.get_full_name }}
            </div>
            <div class="h6 text-muted dashboard-user-info__text">
                {{ request.user.email }}
            </div>
        </section>

        <hr/>

        <section class="mb-5 dashboard__section dashboard-profile-information">
            <div class="h6 float-right">
                <a href="{% url 'myhpom:edit_profile' %}" class="small"><span class="oi oi-pencil"></span> Edit</a>
            </div>

            <h2 class="h6 dashboard__section-title">
                Profile information
            </h2>

            <div class="dashboard__section-content">
                <p>
                    State resident: <strong>{{ request.user.userdetails.state.title|default:'(Unknown state)' }}</strong>
                </p>

                <div class="dashboard-profile-information__organ-donor-status-box">
                    <div>
                        <img class="dashboard-profile-information__organ-icon" src="{% static 'myhpom/img/donor/icon-donor@3x.png' %}" alt="">
                    </div>
                    <div>
                        <div class="dashboard-profile-information__organ-donor-status-info">
                            <span class="h5 dashboard-profile-information__status">I am not an organ donor.</span>
                        </div>
                        <div>
                            <a href="/" class="dashboard-profile-information__organ-donor-link">
                                Learn how you can be a donor.
                            </a>
                        </div>
                    </div>
                    <div class="h6 dashboard-profile-information__organ-donor-edit-link">
                        <a href="{% url 'myhpom:edit_profile' %}" class="small"><span class="oi oi-pencil"></span> Edit</a>
                    </div>
                </div>
            </div>
        </section>

        <hr/>

        <section class="mb-5 dashboard__section dashboard-health-network">
            <div class="h6 float-right">
                <a href="/" class="small"><span class="oi oi-pencil"></span> Edit</a>
            </div>

            <h2 class="h6 dashboard__section-title">
                Health network
            </h2>

            <div class="dashboard__section-content">
                <div class="dashboard-health-network__info-box">
                    <div class="h3 dashboard-health-network__network-name">{% firstof request.user.userdetails.health_network.name request.user.userdetails.custom_provider '(Unknown Network)' %}</div>
                    <div>
                        Last Updated: January 1, 1970
                    </div>
                </div>
            </div>
        </section>

        <hr/>

        <sidebar class="row dashboard-faq">
            <div class="col-sm-12">
                <h2 class="h6 dashboard-faq__title">
                    Frequently asked questions
                </h2>
            </div>
            <div class="col-md-6 small">
                <strong class="h6 dashboard-faq__heading">{% lorem 5 w %}?</strong>
                <p>
                    {% lorem 24 w %}
                </p>
            </div>
            <div class="col-md-6 small">
                <strong class="h6 dashboard-faq__heading">{% lorem 5 w %}?</strong>
                <p>
                    {% lorem 24 w %}
                </p>
            </div>
        </sidebar>
    </div>
    <div class="col-md-6 col-lg-4 vertical-flex">
        <section class="dashboard-sidebar vertical-flex">
            <h2 class="h6 dashboard__section-title dashboard-sidebar__title">
                My document
            </h2>

            <div class="advance-directive-widget vertical-flex" id="advance-directive-widget">
                {% comment %}
                The following include is for demonstration purposes only.
                This element will be selected via `$('#advance-directive-widget')`
                and filled in with content from the various AJAX calls that
                take the user through the steps in the upload process.
                {% endcomment %}
                {% include widget_template %}
            </div>
        </section>
    </div>
</div>

<div id="advance-directive-widget-ajax-failure" class="hidden advance-directive-widget__body" hidden>
    <h3 class="h6">
        Error
    </h3>

    <p>
        Oops! We've encountered an error while uploading your document. Please
        refresh your page and try again.
    </p>
</div>
{% endblock main_content %}

{% block extra-js %}
<script>
jQuery(function ($) {
    var ADVANCED_DIRECTIVE_WIDGET_ID = '#advance-directive-widget';
    var AJAX_FAILURE_CONTENT = $('#advance-directive-widget-ajax-failure').clone().prop('hidden', false);

    function handleAjax($ajax) {
        $ajax.done(function (data) {
            $(ADVANCED_DIRECTIVE_WIDGET_ID).html(data);
        }).fail(function(xhr, status) {
            // If the user needs to login, direct there without any 'next' GET parameter set.
            if (xhr.status === 401) {
                return window.location.replace("{% url "login" %}");
            }

            // Otherwise this is a 5xx or something else we don't know how to handle:
            $(ADVANCED_DIRECTIVE_WIDGET_ID).html(AJAX_FAILURE_CONTENT);
        });
    }

    function handleFormSubmit(event) {
        // Prevent double submissions, and normal submit behavior:
        $(this).find(":submit").prop("disabled", true);
        event.preventDefault();

        function doAjaxSubmission () {
            var formData = new FormData();
            $($(event.target).serializeArray()).each(function (idx, item) {
                formData.append(item.name, item.value);
            });
            $(event.target).find('input:file').each(function (idx, input) {
                $(input.files).each(function (idx, file) {
                    formData.append('document', file);
                });
            });
            handleAjax($.ajax({
                url: event.target.action,
                data: formData,
                contentType: false,
                processData: false,
                method: event.target.method
            }));
        }

        /*
            Prevent the AJAX submission from taking place and
            eradicating the relevant form before it has finished
            hiding.
        */
        if ($(event.target).is('.modal form')) {
            var $modal = $(event.target).closest('.modal');
            $modal.on('hidden.bs.modal', doAjaxSubmission)
            $modal.modal('hide');
        } else {
            doAjaxSubmission();
        }
    }

    function handleAnchorClick() {
        if ($(this).is('[target="_blank"]') || $(this).data('no-ajax')) {
            return;
        }
        handleAjax($.ajax({
            url: this.href
        }));
        return false;
    }

    $(ADVANCED_DIRECTIVE_WIDGET_ID).on('click', 'a', handleAnchorClick);
    $(ADVANCED_DIRECTIVE_WIDGET_ID).submit(handleFormSubmit);
});
</script>
{% endblock extra-js %}
