{% extends "myhpom/base.html" %}
{% load staticfiles %}

{% block main_container_class %}container-fluid myhpom-page__container{% endblock main_container_class %}

{% block main_content %}
<section class="homepage__section homepage__section--propfix hero-section" style="background-image: url({% static hero_image %})">
    <div class="container--propfix">
        <div class="hero-section__title">
            Own your care. Plan in advance.
        </div>
        <div class="hero-section__subtitle">
            {% lorem 12 w %}
        </div>
        <div class="hero-section__start-now">
            <a class="btn btn-secondary hero-section__start-now-button" href="{% url 'myhpom:signup' %}">Start Now</a>
        </div>
    </div>
</section>

<section class="homepage__section homepage__section--features"></section>

<section class="homepage__section homepage__section--questions"></section>

<section class="homepage__section homepage__section--supported-by"></section>

<section class="homepage__section homepage__section--how-it-works"></section>

<section class="homepage__section homepage__section--sidekick"></section>
{% endblock main_content %}
