{% extends "myhpom/base.html" %}

{% block main_content %}
<div class="modal show pseudo-modal">
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="modal-header modal-header--main pseudo-modal__header">
                <h1 class="modal-title pseudo-modal__title--centered">
                    Thank you for registering
                </h1>
                <a href="{% url 'myhpom:home' %}" type="button" class="close close--link" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pseudo-modal__header-caption-text">
                            You will receive an email asking you to confirm your email
                            address. <small>(What is this?)</small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="pseudo-modal__header-caption-text">
                            To complete your profile, please add your healthcare
                            network. <small>(Why do you need this information?)</small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            Please select a healthcare network for {{ state.title }}
                            <small>(Change Profile)</small>
                        </h4>
                        <small>How do I find my healthcare network?</small>
                    </div>
                </div>
                {% for row in priority_0_rows %}
                <div class="row">
                    {% for health_network in row %}
                    <div class="col-md-6 col-lg-4">
                        <div class="custom-control custom-radio nobutton-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="id_healthcare_network_{{ health_network.id }}"
                                name="healthcare_network_radio"
                                value="{{ health_network.id }}"
                            />
                            <label
                                class="custom-control-label nobutton-radio__label"
                                for="id_healthcare_network_{{ health_network.id }}"
                            >
                                {{ health_network.name }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="row mt-4">
                    <div class="col-md-6 col-lg-8">
                        <div class="form-group">
                            <label for="id_healthcare_network_full">Complete list of healthcare networks:</label>
                            <select name="healthcare_network" id="id_healthcare_network_full" class="custom-select">
                                <option value="null" selected="selected"></option>
                                {% for priority, networks in health_networks.items %}
                                    <optgroup label="{{PRIORITY.priority}}">
                                        {% for health_network in networks %}
                                        <option id="id_healthcare_network_{{ health_network.id }}" name="healthcare_network_option" value="{{ health_network.id }}">{{ health_network.name }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <form name="health_network_form" method="POST">
                                {% csrf_token %}
                                <!-- store the selected healthcare_network id in the hidden input -->
                                <input type="hidden" name="healthcare_network" id="id_healthcare_network" />
                                <label for="id_custom_provider">Not listed? Write network below:</label>
                                <input class="form-control" type="text" name="custom_provider" id="id_custom_provider" />                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <!-- TODO: add real URL -->
                <a id="id_submit_health_network_form" class="btn btn-primary" href="">
                    Submit
                </a>
                <a href="/accounts/next-steps">Skip for now</a>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock main_content %}

{% block extra-js %}
<script>
    /*
        Enforce mutual exclusion of radio button selection and
        use of the `select` element. When either input changes,
        if a non-null value is chosen, clear the other's value.
    */
    jQuery(function ($) {
        var $radios = $('input[type="radio"]');
        var $fullSelect = $('#id_healthcare_network_full');
        var $customProvider = $('#id_custom_provider');
        var $submitHealthNetworkFormButton = $('#id_submit_health_network_form');

        $radios.on('change', function (e) {
            $("#id_healthcare_network").val($(e.target).val());
            if ($(e.target).prop('checked')) {
                $fullSelect.val('null');
                $customProvider.val('');
            }
        });

        $fullSelect.on('change', function (e) {
            $("#id_healthcare_network").val($(e.target).val());
            if ($(e.target).val() !== 'null') {
                $radios.prop('checked', false);
                $customProvider.val('');
            }
        });

        $customProvider.on('keypress', function (e) {
            $fullSelect.val('null');
            $radios.prop('checked', false);
        });

        $submitHealthNetworkFormButton.on('click', function (e) {
            event.preventDefault();
            document.health_network_form.submit();
        });
    });
</script>
{% endblock extra-js %}
