{% extends "myhpom/base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="modal show pseudo-modal">
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="pb-0 modal-header modal-header--main modal-header--next-steps pseudo-modal__header">
                <h1 class="mx-auto h2 modal-title pseudo-modal__title pseudo-modal__title--centered pseudo-modal__title--light">
                    Welcome to <span class="d-none">Mind My Health</span>
                </h1>
                <img class="next-steps__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-color@3x.png' %}" alt="">
            </div>

            <div class="pt-1 pb-1 modal-header modal-header--subtitle modal-header--next-steps pseudo-modal__header">
                <p class="mx-auto mb-0 pseudo-modal__header-caption-text pseudo-modal__header-caption-text--next-steps">
                    <!-- TODO: Scribbler -->
                    You are joining millions across the country in owning
                    your own health by planning for care in advance.
                    Your next steps:
                </p>
            </div>

            <div class="modal-body pseudo-modal__body">
                <div class="row">
                    <div class="col-md-6 vertical-fill-box">
                        <div class="mb-3 advance-directive-block">
                            <h4 class="advance-directive-block__title">
                                Do you already have your advance care plan?
                            </h4>
                            <p class="next-steps__text">
                                <!-- TODO: Scribbler -->
                                <strong class="next-steps__strong">Wonderful! Is it in PDF form?</strong>
                                Scan and save your document in high resolution
                                to upload on your Mind My Health dashboard.
                            </p>
                            <div class="advance-directive-block-footer">
                                <div class="advance-directive-block-footer__info-link">
                                    Learn more in our FAQs
                                </div>
                                <div class="advance-directive-block-footer__caption">
                                    Link will open in new window
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 vertical-fill-box">
                        <div class="mb-3 advance-directive-block">
                            <h4 class="advance-directive-block__title">
                                Are you just starting to plan your advance care?
                            </h4>
                            <p class="next-steps__text">
                                <!-- TODO: Scribbler -->
                                <a class="advance-directive-block__template-link" href="{{ ad_template.url }}" target="_blank" rel="noopener noreferrer">
                                    Download our free template</a>,
                                document your desired care, and following the
                                instructions on your Mind My Health Dashboard.
                            </p>
                            <div class="advance-directive-block-footer">
                                <div class="advance-directive-block-footer__info-link">
                                    Learn more in our FAQs
                                </div>
                                <div class="advance-directive-block-footer__caption">
                                    Link will open in new window
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col--centered">
                        <a class="mt-2 mb-2 mx-auto btn btn-secondary btn--big" href="{% url 'myhpom:dashboard' %}">
                            Go to Your Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock main_content %}
