{% extends "myhpom/base.html" %}

{% block title %}Create Your Account | My Health Peace Of Mind{% endblock title %}

{% block main_content %}
<div class="modal show pseudo-modal">
    <div class="modal-dialog pseudo-modal__dialog" role="document">
        <div class="modal-content pseudo-modal__content">
            <div class="modal-header modal-header--main pseudo-modal__header">
                <h1 class="modal-title pseudo-modal__title--centered">
                    Create Your Account
                </h1>
                <a href="{% url 'myhpom:home' %}" type="button" class="close close--link" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>

            <div class="modal-header modal-header--subtitle pseudo-modal__header">
                <h5 class="pseudo-modal__title--centered">Already have an account? <a href="{% url 'myhpom:home' %}"> Sign in</a>.</h5>
            </div>

            <div class="modal-body">
                <div class="invalid-feedback">
                    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
                </div>
                <form name="signup_form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-lg-4 form-group">
                            <label for="id_first_name">{{form.fields.first_name.label|upper}}</label>
                            <input type="text" class="form-control{% if form.errors.first_name %} is-invalid{% endif %}" name="first_name" id="id_first_name" value="{% if form.data.first_name %}{{form.data.first_name}}{% endif %}" />
                            <div class="invalid-feedback">
                                {% if form.errors.first_name %}{{ form.errors.first_name }}{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 form-group">
                            <label for="id_middle_name">{{form.fields.middle_name.label|upper}} (Optional)</label>
                            <input type="text" class="form-control{% if form.errors.middle_name %} is-invalid{% endif %}" name="middle_name" id="id_middle_name" value="{% if form.data.middle_name %}{{form.data.middle_name}}{% endif %}" />
                            <div class="invalid-feedback">
                                {% if form.errors.middle_name %}{{ form.errors.middle_name }}{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 form-group">
                            <label for="id_last_name">{{form.fields.last_name.label|upper}}</label>
                            <input type="text" class="form-control{% if form.errors.last_name %} is-invalid{% endif %}" name="last_name" id="id_last_name" value="{% if form.data.last_name %}{{form.data.last_name}}{% endif %}" />
                            <div class="invalid-feedback">
                                {% if form.errors.last_name %}{{ form.errors.last_name }}{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="id_email">{{form.fields.email.label|upper}}</label>
                                    <input type="email" class="form-control{% if form.errors.email %} is-invalid{% endif %}" name="email" id="id_email" value="{% if form.data.email %}{{form.data.email}}{% endif %}" />
                                    <div class="invalid-feedback">
                                        {% if form.errors.email %}{{ form.errors.email }}{% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="id_state">{{form.fields.state.label|upper}}</label>
                                    <select name="state" id="id_state" class="form-control{% if form.errors.state %} is-invalid{% endif %}">
                                        <option value=""></option>
                                        {% for state in us_states %}
                                        <option value="{{state.name}}"{% if form.data.state == state.name %} selected="selected"{% endif %} >{{state.title}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        {% if form.errors.state %}{{ form.errors.state }}{% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">  
                                    <label for="id_password">{{form.fields.password.label|upper}}</label>
                                    <input type="password" class="form-control{% if form.errors.password %} is-invalid{% endif %}" name="password" id="id_password" value="{% if form.data.password %}{{form.data.password}}{% endif %}" />
                                    <div class="invalid-feedback">
                                        {% if form.errors.password %}{{ form.errors.password }}{% endif %}
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="id_password_confirm">{{form.fields.password_confirm.label|upper}}</label>
                                    <input type="password" class="form-control{% if form.errors.password_confirm %} is-invalid{% endif %}" name="password_confirm" id="id_password_confirm" value="{% if form.data.password_confirm %}{{form.data.password_confirm}}{% endif %}" />
                                    <div class="invalid-feedback">
                                        {% if form.errors.password_confirm %}{{ form.errors.password_confirm }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-12 form-group form-group-tos{% if form.errors.accept_tos %} is-invalid{% endif %}">
                                    <div class="form-group-tos__content">
                                        <h5 class="{% if form.errors.password_confirm %} is-invalid{% endif %}">Terms and conditions</h5>
                                        <p class="form-group-tos__text">{% lorem 32 w %}</p>
                                        <p>
                                            <a href="{% url 'myhpom:home' %}">
                                                Read complete terms and conditions
                                            </a>
                                        </p>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input{% if form.errors.accept_tos %} is-invalid{% endif %}" id="id_accept_tos" name="accept_tos"{% if form.data.accept_tos %} checked="checked"{% endif %} />
                                            <label for="id_accept_tos" class="form-check-label">
                                                I agree to the terms and conditions
                                                of the services provided. 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback">
                                        {% if form.errors.accept_tos %}{{ form.errors.accept_tos }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary disabled" id="btn-sign-up" onClick="document.signup_form.submit();">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>
{% endblock main_content %}

{% block extra-js %}
<script>
    jQuery(function ($) {
        var $tosAccept = $('#id_accept_tos');
        var $signUp = $('#btn-sign-up');
        $tosAccept.on('change', function (e) {
            $signUp.toggleClass(
                'disabled',
                !$tosAccept.prop('checked')
            );
        });
        $tosAccept.trigger('change');
    });
</script>
{% endblock extra-js %}
