{% load static %}

<header class="shadow-sm myhpom-header">
    <nav class="navbar navbar-dark navbar-expand-lg container myhpom-header__navbar">
        <a class="navbar-brand mb-0 h1 img-link myhpom-header__navbar-brand" href="">
            <img class="myhpom-header__logo" src="{% static 'myhpom/img/logo/mmh-logo-hor-color-rev@3x.png' %}" alt="Mind My Health">
        </a>
        {% if user.is_authenticated %}
        <div class="myhpom-header__navbar-toggler myhpom-header__navbar-toggle--profile ml-auto d-md-none d-lg-none d-xl-none">
            <!-- TODO: add profile link here. -->
            <span class="oi oi-person myhpom-header__toggler-icon"></span>
        </div>
        {% endif %}
        <button class="navbar-toggler myhpom-header__navbar-toggler myhpom-header__navbar-toggler--menu collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon myhpom-header__toggler-icon myhpom-header__toggler-icon--closed oi oi-menu"></span>
            <span class="navbar-toggler-icon myhpom-header__toggler-icon myhpom-header__toggler-icon--open oi oi-x"></span>
        </button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse myhpom-header__navbar-collapse">
            <ul class="navbar-nav mr-auto myhpom-header__navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item d-block d-sm-block d-md-none d-lg-none d-xl-none"><a class="nav-link myhpom-header__nav-link" href="{% url 'myhpom:dashboard' %}">Dashboard</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link myhpom-header__nav-link" href="">How It Works</a></li>
                <li class="nav-item"><a class="nav-link myhpom-header__nav-link" href="">FAQs</a></li>
            </ul>
            <hr class="myhpom-header__menu-small-divider d-block d-sm-block d-md-none d-lg-none d-xl-none" />
            <ul class="navbar-nav myhpom-header__navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link myhpom-header__nav-link" href="{% url "myhpom:logout" %}">Log Out</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link myhpom-header__nav-link" href="{% url "login" %}">Log In</a></li>
                {% endif %}
                <li class="nav-item">
                    <a href="" class="nav-link myhpom-header__nav-link d-block d-sm-block d-md-none d-lg-none d-xl-none" href="{% url 'myhpom:signup' %}">Start Now</a>
                    <a class="btn btn-secondary d-none d-lg-block" href="{% url 'myhpom:signup' %}">Start Now</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
