<header class="shadow-sm mb-5 myhpom-header">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg no-gutters">
            <a class="navbar-brand mb-0 h1" href="">Mind My Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="">Why Plan?</a></li>
                    <li class="nav-item"><a class="nav-link" href="">How It Works</a></li>
                    <li class="nav-item"><a class="nav-link" href="">FAQs</a></li>
                    <li class="nav-item"><a class="nav-link" href="">About</a></li>
                </ul>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "myhpom:logout" %}">LOG OUT</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "theme.views.login" %}">LOG IN</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="btn btn-secondary" href="{% url 'myhpom:signup' %}">START NOW</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
