{% comment %}
This content is rendered inside a .advance-directive-widget element,
which is rendered inside the dashboard template to provide an
anchor for the jQuery code to attach live-loaded HTML to.
(This could also conceivably be appended to the container,
but it is clearer what's happening if there is an element
in the template that represents the entry-point.)
{% endcomment %}

<ul class="advance-directive-widget__breadcrumbs">
    {% block widget_breadcrumb_items %}
    <li class="advance-directive-widget__breadcrumb-item">
        Select Document
    </li>
    <li class="advance-directive-widget__breadcrumb-item">
        Submit
    </li>
    <li class="advance-directive-widget__breadcrumb-item">
        Confirmation
    </li>
    {% endblock widget_breadcrumb_items %}
</ul>

<hr class="advance-directive-widget__divider" />

<div class="advance-directive-widget__body vertical-flex">
    {% block widget_body %}{% endblock widget_body %}
</div>

{% block widget-js %}{% endblock %}
