<ul class="advance-directive-widget__breadcrumbs">
    <li class="advance-directive-widget__breadcrumb-item">
        Select Document
    </li>
    <li class="advance-directive-widget__breadcrumb-item">
        Submit
    </li>
    <li class="advance-directive-widget__breadcrumb-item">
        Confirmation
    </li>
</ul>

<div class="advance-directive-widget__body">
    <h3 class="h6">
        Requirements for Advance Directive:
    </h3>

    <p>
        {% lorem 8 w %}
    </p>
    <p>
        {% lorem 12 w %}
    </p>
    <p>
        {% lorem 6 w %}
    </p>
</div>
