{% extends 'pages/page.html' %}

{% load pages_tags mezzanine_tags %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>My Health Peace of Mind Support</h2>
                <p>Greetings My Health Peace of Mind User!
                This page tells you about some of the features of MyHPOM.
                Browse the topics below and click on a question to see the answer.</p>
            </div>
        </div>
    </div>

  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">FAQs</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">Glossary</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        What is MyHPOM?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse in">
                                <div class="panel-body">
                                    <p>TCC is partnering with hospitals, community hospices, AARP and an SECU-supported estate planning law firm to offer a persistent and discoverable online tool for  advance directives and medical information.
                                       The online tool will facilitate the adoption of advance care planning among younger and more diverse populations and will provide the ability for individuals to link their advance care plans and health information to the people named as healthcare agent(s) and others they want to alert to their 
healthcare wishes.
                                       The linkages can be to family, friends, clinicians or other representatives, all chosen by the individual.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        Why use MyHPOM?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p><strong>Save your data online safely and share them to get feedback from other people.</strong> MyHPOM provides convenient data uploading function and save data safely online. It also has access control ability to provide user with multiple ways of sharing their data and the corresponding metadata. Besides, the system provides the function of commenting on the shared data and models, so as to help user get constructive feedback from other people.</p>
                                    <p><strong>Get credit of your data and models when cited by others.</strong> Each data or model uploaded in the MyHPOM system is assigned citation information. What’s more, in the near future the system will provide a DOI for the data or models which are approved and published in the MyHPOM system.</p>
                                    <p><strong>Easy access to hydrologic data and models shared by other users or third part organizations.</strong>  MyHPOM provides powerful searching functions to help the user find  the data and models they are looking for.  These data and models will be from other users or third party organization such as USGS, CUAHSI HydroServer, Earth Exchange, etc.</p>
                                    <p><strong>Collaborate with other people for hydrological research.</strong> MyHPOM provides the social media functionality to enhance collaboration for hydrologic research. User will be able to create or join the groups they have interests in. And the group will provide functions for collaborations among group members to share data and models, participate in discussions, and add group blogs.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        Why is MyHPOM different?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Different from existing online tools, the My Health Peace of Mind platform provides users no-cost access, allows easy updates to information and documents and provides links to hospitals nationwide who can access an s information in an emergency. 
                                       With our community partners, we expect to grow the number of advance care plans completed by x&#x0025; while improving their discoverability.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                    <h4 class="panel-title">
                                        Is there a cost to use My Health Peace of Mind?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>My Health Peace of Mind was developed using grant funds from the Duke Endowment and is free for consumers to use.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                    <h4 class="panel-title">
                                        Is my health information secure?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You choose who your information gets shared with and if you want it to be found during a medical emergency by a healthcare provider.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                    <h4 class="panel-title">
                                        Common Terms
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-1" class="panel-collapse in">
                                <div class="panel-body">
                                    <p><strong>Helping others understand your wishes if you are unable to speak for yourself are important. There are state and federal laws that guide how you communicate your wishes to others. There are many terms and documents that describe the instructions you can give your health team, and loved ones to communicate your wishes.  The terms below are the most common ones you may hear.</strong></p>

                                    <p><strong>Advance Directive or Advance Care Plan</strong>- is a legal document that allows a person to communicate health care preferences in the event that he or she is no longer able to make these decisions. This is how you want to be treated if you can't speak for yourself. For example you might not want a feeding tube.</p>
 
                                    <p><strong>Cardiac Arrest</strong>- is the abrupt loss of heart function in a person who may or may not have diagnosed heart disease. The time and reason for death are unexpected. (AHA)</p>

                                    <p><strong>DNR-Do Not Resuscitate-No Code-Desire for a Natural Death</strong>- are all terms that express the desire not to be mechanically kept alive if your heart stops. The DNR tells the health team whether or not you want cardiopulmonary resuscitation  (CPR) or to be put on a ventilator to breathe.</p>

                                    <p><strong>End of Life-End of Life (EOL)</strong> is the period of time when a person is approaching the end of life and is expected to die. There is no specific time interval when end-of-life is happening.</p>

                                    <p><strong>Euthanasia-Assisted Suicide</strong>- is the practice of intentionally ending a life in order to relieve pain and suffering. There are different euthanasia laws in the US and vary on a state-by-state basis.</p>

                                    <p><strong>Health Care Proxy</strong>- is a legal document that names another person to legally make healthcare decisions on behalf of the patient, when you are incapable of making and executing the healthcare decisions stipulated in the proxy.</p>

                                    <p><strong>Hospice Care</strong>- is a model for quality, compassionate care for people facing a life-limiting illness or injury. It involves a team-oriented approach to expert medical care, pain management, and emotional and spiritual support expressly tailored to the patient's needs and wishes.</p>

                                    <p><strong>Life-Sustaining Treatment</strong> is the use of available medical machinery and techniques, such as heart-lung machines, ventilators, and other medical equipment and techniques that may keep you alive and possibly let you live longer, but which may not by themselves cure your condition.</p>

                                    <p><strong>Living Will</strong> - is a written expression of how a person wants to be treated in certain medical circumstances. What must be included in the document and what makes it legal varies from state to state.</p>

                                    <p><strong>POLST/MOLST Forms</strong>- POLST stands for Physician Orders for Life-Sustaining Therapy. POLST/MOLST forms are specific Medical Orders that tell providers what to do in an emergency. They can accompany a person from home to hospital.  They do not replace an advanced directive or health care proxy.</p>

                                    <p><strong>Natural Death</strong>- is a death that occurs from natural causes, as disease or old age, rather than from violence or an accident.</p>

                                    <p><strong>Organ or Tissue Donation</strong>- gives the health team permission to surgically remove and give your organs or tissues to another person.</p>

                                    <p><strong>Patient Self Determination Act (PSDA)</strong>- is a federal law whose purpose is to ensure that a patient's right to self-determination in health care decisions be communicated and protected. Health care facilities are required by law to honor a patient's wishes and to ask every person seeking care whether they have documents that spell out their wishes.</p>

                                    <p><strong>Palliative Care</strong>- is specialized medical care for people with serious illness. This type of care is focused on providing relief from the symptoms and stress of a serious illness. The goal is to improve quality of life for both the patient and the family.</p>

                                    <p><strong>Power of Attorney for Health Care</strong> - is a legal document that names someone that you trust to act as your agent to make health care decisions if you are unable to speak for yourself. There is a second document that names power of attorney for financial matters. They do not have to be the same person.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    {% block extra_js %}
        <script type="text/javascript">
            $(document).ready(function () {
                var url = 'https://api.github.com/repos/hydroshare/hydroshare/releases/latest';
                $.get(url).done(function (data) {
                  var version = data.tag_name;
                  $('#release_no').html(version);
                });
            });
        </script>
    {% endblock %}
{% endblock %}
