{% extends 'myhpom/includes/upload_base.html' %}

{% block widget_breadcrumb_items %}
<li class="advance-directive-widget__breadcrumb-status">
    current status:
</li>
{% with ad=request.user.advancedirective %}
{% if ad.verification_passed %}
<li class="advance-directive-widget__breadcrumb-status-value--success">Verified</li>
{% elif ad.verification_in_progress %}
<li class="advance-directive-widget__breadcrumb-status-value--inprogress">Verifying</li>
{% elif ad.verification_result %}
<li class="advance-directive-widget__breadcrumb-status-value--error">Invalid</li>
{% elif ad.verification_failed %}
{% comment %}
a slight variation on language so that support people can differentiate between
the status of this failure -- which in all likelyhood will require a developer
resubmitting the AD for verification.
{% endcomment %}
<li class="advance-directive-widget__breadcrumb-status-value--error">In verification</li>
{% else %}
<li class="advance-directive-widget__breadcrumb-status-value">Saved</li>
{% endif %}
{% endwith %}
{% endblock widget_breadcrumb_items %}

{% block widget_breadcrumb_detail %}
{% with ad=request.user.advancedirective %}
{% if ad.verification_passed %}
{% elif ad.verification_result %}
    {% if ad.verification_result.owner_name_matches not in yes_or_na %}
        Name on document doesn't match yours.
    {% elif ad.verification_result.witness_signature_1 not in yes_or_na %}
        Missing first witness signature.
    {% elif ad.verification_result.witness_signature_2 not in yes_or_na %}
        Missing second witness signature.
    {% elif ad.verification_result.notarized not in yes_or_na %}
        Not notarized.
    {% elif ad.verification_result.signed_by_owner not in yes_or_na %}
        Not signed.
    {% else %}
    {{yes_or_na}}
        Could not be verified. Please re-scan and upload.
    {% endif %}
{% elif ad.verification_failed %}
    {% comment %}
    Some unrecoverable problem happened during verification - probably not due
    to the user's AD.
    {% endcomment %}
{% endif %}
{% endwith %}
{% endblock widget_breadcrumb_detail %}

{% block widget_body %}
<dl class="advance-directive-widget__definition">
    <div>
        <dt class="advance-directive-widget__definition__key">active date:</dt>
        <dd class="advance-directive-widget__definition__value">{{ request.user.advancedirective.valid_date|date:"SHORT_DATE_FORMAT" }}</dd>
    </div>
</dl>

{% if request.user.advancedirective.thumbnail %}
<a class="advance-directive-widget__thumbnail-link" href="{{ request.user.advancedirective.document.url }}" data-no-ajax="true" target="_blank" rel="noopener noreferrer">
    <img class="advance-directive-widget__thumbnail" src="{{ request.user.advancedirective.thumbnail.url }}"/>
</a>
{% endif %}

<a class="advance-directive-widget__button--primary" href="{{ request.user.advancedirective.document.url }}" data-no-ajax="true" target="_blank" rel="noopener noreferrer">Download</a>

<a class="mt-2 advance-directive-widget__delete-link" href="#delete-modal" data-no-ajax="true" data-toggle="modal" data-target="#delete-modal">Delete document</a>

<div class="modal fade" id="delete-modal" aria-labelledby="delete-modal-title" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-title">
                    Delete advance directive?
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    Are you sure you want to delete your advance directive?
                    This action cannot be undone.
                </p>
            </div>

            <div class="modal-footer">
                <form action="{% url 'myhpom:upload_delete_ad' %}" method='post'>
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock widget_body %}

{% block widget-js %}
<script>
jQuery(function ($) {
    /*
        Unfortunately, when grabbed via AJAX, the modal trigger
        will not be initialized automatically. We can pretend
        this is taking place by assigning a click handler.
    */
    $('[data-toggle="modal"]').on('click', function (e) {
        e.preventDefault();
        $($(this).attr('data-target')).modal();
    });
});
</script>
{% endblock %}
