{% extends 'myhpom/includes/upload_base.html' %}

{% block widget_breadcrumb_items %}
<li class="advance-directive-widget__breadcrumb-status">
    current status:
</li>
<li class="advance-directive-widget__breadcrumb-status-value">
    Saved
</li>
{% endblock widget_breadcrumb_items %}

{% block widget_body %}
<dl class="advance-directive-widget__definition">
    <di>
        <dt class="advance-directive-widget__definition__key">active date:</dt>
        <dd class="advance-directive-widget__definition__value">{{ request.user.advancedirective.valid_date|date:"SHORT_DATE_FORMAT" }}</dd>
    </di>
</dl>

<div class="row">
    <div class="col">
        <a class="advance-directive-widget__button--primary" href="{{ request.user.advancedirective.document.url }}" target="_blank" rel="noopener noreferrer">Download</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="advance-directive-widget__delete-link" href="#delete-modal" data-toggle="modal" data-target="#delete-modal">Delete document</a>
    </div>
</div>

<div class="modal fade" id="delete-modal" aria-labelledby="delete-modal-title" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-title">
                    Delete advance directive?
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    Are you sure you want to delete your advance directive?
                    This action cannot be undone.
                </p>
            </div>

            <div class="modal-footer">
                <form action="{% url 'myhpom:upload_delete_ad' %}" method='post'>
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock widget_body %}
