{% extends 'myhpom/includes/upload_base.html' %}

{% block widget_breadcrumb_items %}
<li class="advance-directive-widget__breadcrumb-status">
    current status:
</li>
<li class="advance-directive-widget__breadcrumb-status-value">
    Stored
</li>
{% endblock widget_breadcrumb_items %}

{% block widget_body %}
<dl class="advance-directive-widget__definition">
    <di>
        <dt class="advance-directive-widget__definition__key">active date:</dt>
        <dd class="advance-directive-widget__definition__value">{{ advancedirective.valid_date|date:"SHORT_DATE_FORMAT" }}</dd>
    </di>
</dl>
{% endblock widget_body %}
