{% extends 'myhpom/includes/upload_base.html' %}

{% block widget_breadcrumb_items %}
<li class="advance-directive-widget__breadcrumb-item--active">
    Select Document
</li>
<li class="advance-directive-widget__breadcrumb-item">
    Submit
</li>
<li class="advance-directive-widget__breadcrumb-item">
    Confirmation
</li>
{% endblock widget_breadcrumb_items %}

{% block widget_body %}
<div class="row">
    <div class="col">
        <h3 class="upload-requirements__title">Advance Directive Document Requirements for {{ user.userdetails.state.title }}</h3>
        <ol class="upload-requirements__list">
            {% for requirement in requirements %}
            <li class="upload-requirements__item">
                <input class="upload-requirements__checkbox" type="checkbox" id="id_requirement_{{ requirement.id }}" class="upload-requirements__checkbox"/>
                <label class="upload-requirements__label" for="id_requirement_{{ requirement.id }}">{{ requirement.text }}</label>
                <ol class="upload-requirements-link__list">
                    {% for link in requirement.staterequirementlink_set.all %}
                    <li class="upload-requirements-link__item">
                        <a href="{{ link.href }}" onClick="event.preventDefault();">{{ link.text }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="upload-requirements__item-head">My file is valid starting:
            <a class="upload-requirements__help--right" href="" onClick="event.preventDefault();">What is this?</a>
        </h4>
        <form id="id_requirements_form" class="upload-requirements__form" method="POST" action="{% url 'myhpom:upload_requirements' %}">
            {% csrf_token %}
            <div id="id_valid_date_div">
                <input id="id_valid_date" name="valid_date" data-min-year="{{ MIN_YEAR }}" data-max-year="{{ MAX_YEAR }}"/>
            </div>
            <div id="id_valid_date_errors" class="upload-requirements__item-errors">
                {{ form.errors.valid_date }}
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <ol class="upload-requirements__list">
            <li class="upload-requirements__item">
                <input type="checkbox" id="id_approval_checkbox" class="upload-requirements__checkbox"/>
                <label class="upload-requirements__label" for="id_approval_checkbox">I approve this file for storage</label>
                <ol class="upload-requirements-link__list">
                    <li class="upload-requirements-link__item">
                        <a href="" onClick="event.preventDefault();">Review Terms and Conditions</a>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col">
        <input id="id_input_select_file" type="file" class="form-control-file"">
        <button id="id_button_submit" class="advance-directive-widget__button--primary" type="submit">Submit</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="{% url 'myhpom:dashboard' %}">CANCEL</a>
    </div>
</div>

<script>
jQuery(function ($) {
    var $requirements = $('.upload-requirements__checkbox');
    var $submitButton = $('#id_button_submit');
    var $directiveDateInput = $('#id_valid_date');
    var $inputSelectFile = $("#id_input_select_file");
    var NOW = new Date();

    function submitButtonEnableDisable () {
        var $directiveDate = new Date($directiveDateInput.val() + " 00:00:00");
        if ($('.upload-requirements__checkbox:checked').length === $requirements.length
            && $directiveDateInput.combodate('getValue').trim() !== ''
            && $directiveDate <= NOW
            && $inputSelectFile.val().trim() !== ''
        ) {
            $submitButton.addClass('upload-requirements__submit').removeClass('upload-requirements__submit--disabled').prop('disabled', null);
        } else {
            $submitButton.addClass('upload-requirements__submit--disabled').removeClass('upload-requirements__submit').prop('disabled', 'disabled');
        }
    }

    $requirements.on('change', submitButtonEnableDisable);

    $requirements.trigger('change');

    $directiveDateInput.combodate({
        smartDays: true,
        format: "YYYY-MM-DD",
        template: "MMMM D YYYY"
    });

    var WAS_VALID = false;
    $directiveDateInput.on('change', function (event) {
        if ($directiveDateInput.combodate('getValue') === '') {
            $("#id_valid_date_div select").addClass("upload-requirement__select--invalid");
            if (WAS_VALID === true) {
                $("#id_valid_date_errors").html("Please enter the valid date of your document.");
            }
        } else {
            var $directiveDate = new Date($directiveDateInput.val() + " 00:00:00");
            if ($directiveDate > NOW) {
                $("#id_valid_date_div select").addClass("upload-requirement__select--invalid");
                $("#id_valid_date_errors").html("Please enter a valid date on or before today.");
            } else {
                $("#id_valid_date_div select").removeClass("upload-requirement__select--invalid");
                $("#id_valid_date_errors").html("");
                WAS_VALID = true;
            }
        }
        submitButtonEnableDisable();
    });

    $inputSelectFile.on('change', submitButtonEnableDisable);

    $submitButton.on('click', function (event) {
        $('#id_requirements_form').submit();
    });
});
</script>
{% endblock widget_body %}
