<form method="POST">
	<div>
		<h1>ADVANCE DIRECTIVE DOCUMENT REQUIREMENTS FOR {{ user.state.title|upper }}</h1>
		<ol>
			{% for requirement in requirements %}
			<li>
				<input class="requirements__checkbox" type="checkbox" id="id_requirement_{{ requirement.id }}"/>
				<label for="id_requirement_{{ requirement.id }}">{{ requirement.text }}</label>
				<ol>
					{% for link in requirement.staterequirementlink_set.all %}
					<li><a href="{{ link.href }}">{{ link.text }}</a></li>
					{% endfor %}
				</ol>
			</li>
			{% endfor %}
		</ol>
	</div>
	<div>
		<h2>My file is valid starting:
			<a href="">What is this?</a>
		</h2>
	</div>

	<div>
		<input type="checkbox" id="id_approval_checkbox"/>
		<label for="id_approval_checkbox">I approve this file for storage</label>
		<a href="">Review Terms and Conditions</a>
	</div>

	<div>
		SELECT FILE
	</div>

	<div>
		<a href="">CANCEL</a>
	</div>
</form>
