<div>
    <div class="form-group">
        <label class="pseudo-modal__label" for="id_example_text">Example text field</label>
        <input class="form-control pseudo-modal__input" type="text" id="id_example_text">
    </div>

    <div class="form-group">
        <label class="pseudo-modal__label" for="id_example_select">Example select field</label>
        <select class="form-control pseudo-modal__input" id="id_example_select">
            <option value="Foo">Foo</option>
            <option value="Bar">Bar</option>
            <option value="Baz">Baz</option>
        </select>
    </div>
</div>
