<div class="advance-directive-widget small" id="advance-directive-widget">
    <ul class="advance-directive-widget__breadcrumbs">
        <li class="advance-directive-widget__breadcrumb-item">
            Select Document
        </li>
        <li class="advance-directive-widget__breadcrumb-item">
            Submit
        </li>
        <li class="advance-directive-widget__breadcrumb-item">
            Confirmation
        </li>
    </ul>

    <div class="advance-directive-widget__body">

        <h3 class="h6">
            Requirements for Advance Directive:
        </h3>

        <p>
            lorem ipsum dolor sit amet consectetur adipisicing elit
        </p>
        <p>
            lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor
        </p>
        <p>
            lorem ipsum dolor sit amet consectetur
        </p>
    </div>
</div>
